<div id="container">
  <div id="hide" class="positioning" style="position: absolute;"></div>
  <div id="mercury" class="positioning" style="position: absolute;"></div>
  <div id="thermometer" class="positioning" style="position: absolute;"></div>
</div>
