<div id="black"></div>
<div id="canvas_text">To God Be the Glory!</div>
<div id="container">
  <div id="hide"></div>
  <div id="mercury"></div>
  <div id="thermometer"></div>
  <div id="money">
      <div id="goal" class="amounts"></div>
      <div id="sub-goal-left-1" class="amounts"></div>
      <div id="sub-goal-right-2" class="amounts"></div>
      <div id="sub-goal-left-3" class="amounts"></div>
      <div id="sub-goal-right-4" class="amounts"></div>
      <div id="sub-goal-left-5" class="amounts"></div>
      <div id="sub-goal-right-6" class="amounts"></div>
  </div>
</div>
