html {
    background: #3e7667;
}

body {
    margin: 0;
    background: url(/images/Thermometer_3.jpg) 0 0 no-repeat;
}

canvas {
  cursor: none;
}

#canvas_text {
    position: absolute;
    z-index: 1;
    color: #FFF;
    display:none;
    font: bold 60px Verdana;
    top: 25%;
    left: 17%;
}

#black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: -1;
}

#container {
    opacity: 1;
    left: 0;
    height: 768px;
    width: 510px;
    position: relative;
}

#mercury,
#hide {
    top: 0;
    left: 220px;
    height: 635px;
    width: 72px;
    position: absolute;
}

#mercury {
    z-index: 0;
    background: url(/images/gradient.png) bottom center no-repeat;
}

#hide {
    background: #3e7667;
    z-index: 1;
}

#thermometer {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: vertical-text;
    background: url(/images/empty_thermometer_with_bulb.png) top center no-repeat;
    position: absolute;
}

#money {
    position: relative;
    height: 633px;
    width: 510px;
    z-index: 0;
}

.amounts {
    position: absolute;
    font: bold 34px Verdana, Arial, Helvetica, sans-serif;
    text-shadow: 0 0, 0 1px black, 3px 0 black, 0 0;
}

#goal {
    top: 0;
    right: 22px;
    color: #6ce700;
}

#sub-goal-left-1 {
    top: 15%;
    left: 22px;
    color: #bdfb00;
}

#sub-goal-right-2 {
    top: 30%;
    right: 22px;
    color: #b5ed01;
}

#sub-goal-left-3 {
    top: 45%;
    left: 22px;
    color: #f7f508;
}

#sub-goal-right-4 {
    top: 60%;
    right: 22px;
    color: #faf307;
}

#sub-goal-left-5 {
    top: 75%;
    left: 22px;
    color: #f25104;
}

#sub-goal-right-6 {
    top: 85%;
    right: 22px;
    color: #d53831;
}