html {
    background: url(/images/background.jpg) 0 0 no-repeat;
}

body {
    margin: 0;
}

#thermometer {
    top: 0;
    left: 165px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: url(/images/empty_thermometer.png) top center no-repeat;
}

#mercury {
    top: 0;
    left: 222px;
    height: 635px;
    width: 40%;
    z-index: 0;
    background: url(/images/gradient.png) bottom center no-repeat;
}

#hide {
    top: 0;
    left: 222px;
    height: 635px;
    width: 40%;
    background: #3e7667;
    z-index: 1;
}

#container {
    height: 768px;
    width: 188px;
    position: relative;
}